
#####BACKEND IGNORE#####
Backend/target/
Backend/.mvn/wrapper/maven-wrapper.jar
!**/Backend/src/main/**/target/
!**/Backend/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
Backend/nbproject/private/
Backend/nbbuild/
Backend/dist/
Backend/nbdist/
Backend/.nb-gradle/
Backend/build/
!**Backend//src/main/**/build/
!**Backend//src/test/**/build/

### VS Code ###
.vscode/
